:root {
  --bg: #f1faee;
  --red: #e63946;
  --lblue: #a8dadc;
  --blue: #457b9d;
  --dblue: #1d3557;
}
* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}
body {
  margin: 0;
  background-color: #457b9d;
  opacity: 1;
  background-image:  radial-gradient(#f1faee 0.9px, transparent 0.9px), radial-gradient(#f1faee 0.9px, #457b9d 0.9px);
  background-size: 36px 36px;
  background-position: 0 0,18px 18px;

}

#app {
  position:absolute;
  top: 5%;
  left: 35%;
  width: 30%;
  display: flex;
  flex-direction: column;

}
#link {
  position: absolute;
  top: 2%;
  right: 2%;
  text-shadow: 0px 0px 1px black;
  color: var(--dblue);
  font-size: 12px;
}

#link a{
  text-decoration: none;
  color: var(--dblue);
  font-style: italic;
  text-shadow: 0px 0px 1px black;
  transition: 0.6s;

}

#link a:hover {
  color: var(--bg);
  text-decoration: underline;
}


.button {
  background: var(--dblue);
  margin : 20px auto;
  width : 300px;
  height : 50px;
  overflow: hidden;
  text-align : center;
  transition : .2s;
  cursor : pointer;
  border-radius: 3px;
  box-shadow: 0px 1px 2px rgba(0,0,0,.2);

}
.btnTwo {
  position : relative;
  width : 200px;
  height : 100px;
  margin-top: -100px;
  padding-top: 2px;
  background : var(--red);
  left : -250px;
  transition : .3s;
}
.btnText {
  color : var(--bg);
  font-weight: bold;
  transition : .3s;
}
.btnText2 {
  margin-top : 63px;
  margin-right : -130px;
  color : #FFF;
}
.button:hover .btnTwo{ /*When hovering over .button change .btnTwo*/
  left: -130px;
}
.button:hover .btnText{ /*When hovering over .button change .btnText*/
  margin-left : 65px;
}
.button:active { /*Clicked and held*/
  box-shadow: 0px 5px 6px rgba(0,0,0,0.3);
}

#form-button {
  border: none;
  font-size: large;
  padding-bottom: 58px;
}
#search-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#input {
  width: 300px;
  height: 50px;
  border-radius: 3px;
  border: none;
  padding: 10px;
  margin: 20px auto -15px;
  font-size: 17px;
}

.result {
  background-color: var(--bg);
  border: 1px solid var(--dblue);
  color: var(--dblue);
  text-align:left;
  align-self: center;
  width: 500px;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 5px 20px;
}

.result h3{
  text-align:justify;
  transition: all 1s ease-in;
}

.result-link:hover:after {
  font-family: "Font Awesome 5 Free";
  content: '\f060';
  font-size: 0.8em;
  margin-left: 10px;

}


.result-link {
  text-decoration: none;
  color: var(--blue);
  transition: .5s;
  
}

.result-link:hover, .result h3:hover {
  color: var(--dblue);
}

@media (max-width:480px) {
  .button, #input {
    width: 180px;
    font-size: 14px;
  }
  .btnTwo {
    width: 120px;
  }
  .result {
    width: 360px;
  }
  #link {
    display: none;
  }
}